@model IEnumerable<CSKH_Sungroup_BT3.Models.Customer>

@{
    ViewBag.Title = "Khách hàng";
}
<div class="content" ng-app="CustomerService" ng-controller="Customer">
    <div class="row">
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Nhập từ khóa cần tìm kiếm..." ng-model="search"/>
        </div>
        <div class="col-sm-8">
            <div class="pull-right">
                <button type="button" class="btn btn-warning" data-target="#addNewCustomer" data-toggle="modal"><i class="fa fa-plus"></i>Thêm mới khách hàng</button>
                <button type="button" class="btn btn-primary" style="margin-left:15px" data-target="#sendMailToAllUsers" data-toggle="modal"><i class="fa fa-send"></i>Gửi mail cho khách hàng</button>
            </div>
        </div>
        <div class="modal fade" id="addNewCustomer" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form ng-submit="save()">
                        <div class="modal-header">
                            <button class="close" data-dissmiss="modal">×</button>
                            <h4>Thêm mới khách hàng</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label>Họ đệm</label>
                                        <input type="text" class="form-control" ng-model="$scope.item.firstName" required />
                                    </div>
                                    <div class="form-group">
                                        <label>CMND/Hộ chiếu</label>
                                        <input type="text" class="form-control" ng-model="$scope.item.CMND" required/>
                                    </div>
                                    <div class="form-group">
                                        <label>Tài khoản</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tên</label>
                                        <input type="text" class="form-control" ng-model="$scope.item.lastName" required/>
                                    </div>
                                    <div class="form-group">
                                        <label>Đối tượng</label>
                                        <input type="text" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" ng-model="$scope.item.email" required/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tài khoản ngân hàng</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <input type="text" class="form-control" ng-model="$scope.item.phoneNumber" />
                                    </div>
                                    <div class="form-group">
                                        <label>Địa chỉ</label>
                                        <input type="text" class="form-control" ng-model="$scope.item.address" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button data-dissmiss="modal" class="btn btn-secondary">Hủy</button>
                                <button type="submit" class="btn btn-primary">Tạo mới</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:20px">
        <table class="table table-striped">
            <tr>
                <th>
                    Họ và tên
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Passport)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    Thao tác
                </th>
            </tr>

            @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)&nbsp;@Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Passport)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }*@

            <tr ng-repeat="item in items|filter : search" ng-dblclick="edit({{item.Id}})">
                <td>{{item.FirstName}} {{item.LastName}}</td>
                <td>{{item.Passport}}</td>
                <td>{{item.Address}}</td>
                <td>{{item.Email}}</td>
                <td>{{item.PhoneNumber}}</td>
                <td>@*<a ng-click="edit({{item.Id}})"><i class="fa fa-pencil"></i></a> <a ng-click="detail({{item.Id}})"><i class="fa fa-book"></i></a> <a ng-click="remove({{item.Id}})"><i class="fa fa-times"></i></a>*@</td>
            </tr>

        </table>
    </div>
</div>
<script>
    var app = angular.module("CustomerService", [])
    app.controller("Customer", function ($scope, $http) {
        $http.get("/Customers/GetAllCustomers").then(function (res) {
            debugger;
            $scope.items = res.data;
        })
        $scope.save = function () {
            $scope.item;
            debugger;
            $http({
                method: "POST",
                url: "/Customers/Save",
                data: $scope.item
            }).success(function (res) {
                console.log(res);
            })
        }
    });
</script>
