@model IEnumerable<CSKH_Sungroup_BT3.Models.Apartment>

@{
    ViewBag.Title = "Căn hộ";
}

<h2>Căn hộ</h2>

<div ng-controller="myCntrl" ng-app="myService">
    
    <div class="row">
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Nhập từ khóa cần tìm kiếm..." ng-model="search" />
        </div>
        <div class="col-sm-8">
            <div class="pull-right">
                <button type="button" class="btn btn-warning"  data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>Thêm mới căn hộ</button>
            </div>
        </div>
        </div>
   
        @*<div ng-show="divApartment">*@

            @*<p class="divHead">{{Action}} Apartment</p>
            <table>
                <tr>
                    <td><b>Id</b></td>
                    <td>
                        <input type="text" disabled="disabled" ng-model="apartmentId" />
                    </td>
                </tr>
                <tr>
                    <td><b>ApartmentName</b></td>
                    <td>
                        <input type="text" ng-model="apartmentApartmentName" />
                    </td>
                </tr>
                <tr>
                    <td><b>Address</b></td>
                    <td>
                        <input type="text" ng-model="apartmentAddress" />
                    </td>
                </tr>
                <tr>
                    <td><b>CustomerId</b></td>
                    <td>
                        <input type="text" ng-model="apartmentCustomerId" />
                    </td>
                </tr>
                <tr>
                    <td><b>Price</b></td>
                    <td>
                        <input type="text" ng-model="apartmentPrice" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="button" class="btnAdd" value="Save" ng-click="AddUpdateApartment()" />
                    </td>
                </tr>
            </table>*@

    

            <div id="myModal" class="modal fade"   role="dialog" >
            <div class="modal-dialog">
           
                    <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4>Add Apartment</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label>ID</label>
                                                <input type="text" class="form-control" disabled="disabled" ng-model="apartmentId" />
                                            </div>
                                            <div class="form-group">
                                                <label>Tên căn hộ</label>
                                                <input type="text" class="form-control" ng-model="apartmentApartmentName" />
                                            </div>
                                            <div class="form-group">
                                                <label>Địa chỉ</label>
                                                <input type="text" class="form-control" ng-model="apartmentAddress" />
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                        
                                            <div class="form-group">
                                                <label>Giá</label>
                                                <input type="text" class="form-control" ng-model="apartmentPrice" />
                                            </div>
                                            <div class="form-group">
                                                <label>Id Chủ nhà</label>
                                                <select class="form-control" ng-model="apartmentCustomerId">
                                                    <option ng-repeat="x in customers" value="{{x.Id}}">{{x.Id}}</option>
                                                </select>

                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button  type="button" data-dismiss="modal" class="btn btn-secondary">Hủy</button>
                                    <button  type="button" class="btn btn-primary" ng-click="AddApartment()" data-dismiss="modal">Lưu</button>
                                </div>
                            </div>
                      
                    </div>
                </div>
            </div>
            
        
   
    <div class="divList" style="margin-top:20px">
        <div >
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApartmentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerId)
                    </th>
                    <th>
                        Thao tác
                    </th>
                </tr>

                
                <tr ng-repeat="apartment in apartments|filter : search" >
                    <td>{{apartment.Id}}</td>
                    <td>{{apartment.ApartmentName}}</td>  
                    <td>{{apartment.Address}}</td>
                    <td ng-if="apartment.Status==1" > Đã thuê </td>
                    <td ng-if="apartment.Status==0"> Chưa thuê </td>
                    <td>{{apartment.Price}}</td>
                    <td>{{apartment.CustomerId}}</td>
                    <td>
                        <button type="button" class="btn btn-success" ng-click="editApartment(apartment)" data-target="#myModal1" data-toggle="modal">Sửa </button>
                        <button type="button" class="btn btn-danger" ng-click="deleteApartment(apartment)">Xóa</button>
                    </td>
                </tr>

            </table>
        </div>

    </div>
    <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Edit Apartment</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" class="form-control" disabled="disabled" ng-model="apartmentIdEdit" />
                            </div>
                            <div class="form-group">
                                <label>Tên căn hộ</label>
                                <input type="text" class="form-control" ng-model="apartmentApartmentNameEdit" />
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control" ng-model="apartmentAddressEdit" />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Id Chủ nhà</label>
                                <select class="form-control" ng-model="apartmentCustomerIdEdit">
                                    <option ng-repeat="x in customers" value="{{x.Id}}" ng-selected="apartmentCustomerIdEdit">{{x.Id}}
                                    </option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label>Giá</label>
                                <input type="text" class="form-control" ng-model="apartmentPriceEdit"  />
                            </div>
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <input type="text" class="form-control" ng-if="apartmentStatusEdit== 1" ng-model="apartmentStatusEdit"  value="Đã thuê"/>
                                <input type="text" class="form-control" ng-if="apartmentStatusEdit== 0" ng-model="apartmentStatusEdit"  value="Chưa thuê" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" data-dismiss="modal" class="btn btn-secondary">Hủy</button>
                        <button type="button" class="btn btn-primary" ng-click="UpdateApartment()" data-dismiss="modal">Lưu</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



